@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  --card-height: 10rem;
  --card-width: 100%;
}

.background1,
.background2,
.background3,
.background4,
.background5,
.background6 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #212242;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.background1 {
  background-size: 38px 38px;
  background-image: repeating-linear-gradient(
    0deg,
    #823ef1,
    #823ef1 1.90px,
    #212242 1.90px,
    #212242
  );
}

.background2 {
  background-size: 25px 25px;
  background-image: repeating-linear-gradient(
    45deg,
    #3274f5 0,
    #3274f5 2.5px,
    #212242 0,
    #212242 50%
  );
}

.background3 {
  background-image: linear-gradient(135deg, #f79211 25%, transparent 25%),
    linear-gradient(225deg, #f79211 25%, transparent 25%),
    linear-gradient(45deg, #f79211 25%, transparent 25%),
    linear-gradient(315deg, #f79211 25%, #212242 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}
.background4 {
  background-image: radial-gradient(circle at center center, #823ef1, #212242),
    repeating-radial-gradient(
      circle at center center,
      #823ef1,
      #823ef1,
      9px,
      transparent 18px,
      transparent 9px
    );
  background-blend-mode: multiply;
}
.background5 {
  background-image: repeating-radial-gradient(
      circle at 0 0,
      #4fe6e4 0,
      #212242 40px
    ),
    repeating-linear-gradient(#ffffff55, #ffffff);
}
.background6 {
  background: radial-gradient(
      circle,
      transparent 20%,
      #212242 20%,
      #212242 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #212242 20%,
        #212242 80%,
        transparent 80%,
        transparent
      )
      22.5px 22.5px,
    linear-gradient(#ed3a98 1.8px, transparent 1.8px) 0 -0.9px,
    linear-gradient(90deg, #ed3a98 1.8px, #212242 1.8px) -0.9px 0;
  background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
}
.background1:hover,
.background2:hover,
.background3:hover,
.background4:hover,
.background5:hover,
.background6:hover {
  opacity: 0.2;
}
.card {
  background: #2c325b;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  font-family: cursive;
  z-index: 1;
  box-shadow: 0px 20px 25px -30px rgba(0, 0, 0, 0.75);
}
.card:hover {
  transition: color 1s;
}

.card::before {
  content: "";
  width: 101%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #4fe6e4,
    #3274f5 43%,
    #823ef1
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -0.3%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  z-index: -1;
  height: 100%;
  width: 100%;
  margin-left: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #4fe6e4,
    #3274f5 43%,
    #823ef1
  );

  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.card:hover::before,
.card:hover::after {
  animation: spin 2.5s linear infinite;
  opacity: 1;
}
.card::before,
.card::after {
  animation: none;
  opacity: 0;
  transition: 0.5s;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media (max-width: 1400px) {
  .card {
    --card-height: 7rem;
  }
}
